<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--    Start on boot-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <application
            android:name=".ABDMApp"
            android:theme="@style/Theme.ABDownloadManager"
            android:icon="@mipmap/ic_launcher"
            android:usesCleartextTraffic="true"
            android:requestLegacyExternalStorage="true"
            android:label="@string/app_short_name"
    >
        <activity
                android:label="@string/app_short_name"
                android:name=".ui.MainActivity"
                android:exported="true"
                android:launchMode="singleInstance"
                android:windowSoftInputMode="adjustResize"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".pages.singledownload.SingleDownloadPageActivity"
                android:exported="true"
                android:theme="@style/Theme.ABDownloadManager.Transparent"
                android:windowSoftInputMode="adjustResize"
        />

        <!--        Accept external download from browsers/send intents etc...-->
        <activity
                android:name=".pages.add.AddDownloadActivity"
                android:exported="true"
                android:theme="@style/Theme.ABDownloadManager.Transparent"
        />

        <activity
                android:name=".pages.add.single.AddSingleDownloadActivity"
                android:exported="false"
                android:theme="@style/Theme.ABDownloadManager.Transparent"
                android:windowSoftInputMode="adjustResize"
        />

        <activity
                android:name=".pages.add.multiple.AddMultiDownloadActivity"
                android:exported="false"
                android:theme="@style/Theme.ABDownloadManager"
                android:windowSoftInputMode="adjustResize"
        />

        <activity
                android:name=".pages.directorypicker.DirectoryPickerActivity"
                android:exported="false"
                android:theme="@style/Theme.ABDownloadManager.Transparent"
                android:windowSoftInputMode="adjustResize"
        />

        <activity
                android:name=".pages.crashreport.CrashReportActivity"
                android:exported="true"
                android:theme="@style/Theme.ABDownloadManager.Transparent"
                android:windowSoftInputMode="adjustResize"
        />

        <service
                android:name=".service.DownloadSystemService"
                android:exported="false"
                android:foregroundServiceType="specialUse"
        />

        <receiver
                android:name=".receiver.StartOnBootBroadcastReceiver"
                android:enabled="false"
                android:exported="false"
        >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>

    </application>
</manifest>
